@mixin accordion() {
  $base-border-color: $gray-color !default;
  $base-line-height: 25px !default;
  $base-spacing: 40px !default;
  $dark-gray: #333 !default;
  $base-font-color: $font-color !default;
  $accordion-menu-border-color: $base-border-color;
  $accordion-menu-color: $base-font-color;
  $accordion-menu-border: 0 solid $accordion-menu-border-color;
  $accordion-menu-background: $background-color;
  $accordion-menu-hover: lighten($accordion-menu-background, 2%);
  $accordion-menu-sub-background: darken($accordion-menu-background, 0);
  $accordion-menu-sub-inset: darken($accordion-menu-sub-background, 6%);
  $accordion-menu-sub-hover: lighten($accordion-menu-sub-background, 2%);
  $accordion-menu-list-padding: ($base-spacing / 2) 60px;

  background-color: $accordion-menu-background;
  border: $accordion-menu-border;
  margin: 0 0 0 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: $accordion-menu-border;
    list-style: none;
    margin-bottom: 10px;
    border: 1px solid $gray-color;
    position: relative;

    > a {
      font-size: 14px;
      color: $accordion-menu-color;
      display: block;
      padding: $accordion-menu-list-padding;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 1px solid $gray-color;
    }

    &:focus,
    &:hover {
      background-color: $accordion-menu-hover;
    }
  }

  ul.submenu {
    display: none;
    position: relative;
    overflow: auto;

    li {
      background-color: $accordion-menu-sub-background;
      margin-bottom: 0;
      border: none;

      > a {
        padding-left: 20px;
        padding-right: 50px;
        text-transform: none;
        font-size: 15px;
        line-height: 24px;
        font-family: $third-font-family;
        font-weight: 300;
        font-style: italic;
        color: $third-font-color;
        max-height: 180px;
        border-bottom: none;
      }

      &:first-child {
        border-top: $accordion-menu-border;
      }

      &:focus,
      &:hover {
        background-color: $accordion-menu-sub-hover;
      }
    }
  }

  .is-expanded {
    display: block;
    padding-bottom: 0;
  }
}