.footer {

    @include search-bar();

    padding-top: 77px;
    background-color: #f8f8f8;
    padding-bottom: 50px;

  &__inner {
    @include container();
    @include outer-container;
    max-width: 1200px;
  }

  &__column {
    float: left;

    &:nth-child(1) {
      width: 460px;
      margin-right: 45px;
    }

    &:nth-child(2) {
      width: 340px;
      margin-right: 40px;
    }

    &:nth-child(3) {
      width: 270px;
    }
  }

  &__logo {
    font-size: 46px;
    font-weight: bold;
    font-family: $primary-font-family;
    color: #cccccc;
    margin-bottom: 35px;
    line-height: $line-height;
  }

  &__about {
    font-size: 15px;
    font-weight: 400;
    font-family: $third-font-family;
    color: $third-font-color;
    line-height: $line-height;
    margin-bottom: 45px;
  }

  &__folowers {
    font-size: 18px;
    font-weight: bold;
    font-family: $primary-font-family;
    color: $font-color;
    padding-bottom: 18px;
    line-height: $line-height;
    border-bottom: 1px solid $gray-color;

    span {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__socials {

    a {
      padding-left: 16px;
    }
  }

  &__blog-item {
    text-decoration: none;
    color: $font-color;
    margin-bottom: 30px;
    display: block;
  }


  &__blog-pict {
    float: left;
    margin-right: 20px;
  }

  &__blog-content {
    padding-top: 10px;
  }

  &__blog-title {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 5px;
  }

  &__blog-date {
    font-size: 13px;
    font-weight: 300;
    font-family: $third-font-family;
    color: $third-font-color;
    font-style: italic;
    line-height: $line-height;
  }


  &__socials-text {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    font-family: $third-font-family;
    color: $third-font-color;
    font-style: italic;
    line-height: $line-height;
    margin-bottom: 40px;
  }

  &__title {
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 14px;
    color: $font-color;
    line-height: $line-height;
    text-transform: uppercase;
  }

  &__instagram-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

  }

  &__instagram-image {
    flex-grow: 1;
    display: inline-block;
    vertical-align: top;
    padding: 1px;
  }

  &__instagram-link {
    text-decoration:  none;
    font-size: 13px;
    font-weight: 300;
    font-family: $third-font-family;
    color: $third-font-color;
    font-style: italic;
    line-height: $line-height;
  }

}