.icon {
  display: inline-block;
  text-align: center;


  &--shopping-cart {
    @include sprite($shopping-cart);

    &:hover {
      opacity: $opacity;
    }
  }

  &--magnifining-glass {
    @include sprite($magnifining-glass);

    &:hover {
      opacity: $opacity;
    }
  }

  &--users {
    @include sprite($users);
  }

  &--alarm {
    @include sprite($alarm);
  }

  &--line-graph {
    @include sprite($line-graph);
  }

  &--computer-ok {
    @include sprite($computer-ok);
  }

  &--book {
    @include sprite($book);
  }

  &--home {
    @include sprite($home);
  }

  &--image {
    @include sprite($image);
  }

  &--picture {
    @include sprite($picture);
  }

  &--equalizer {
    @include sprite($equalizer);
  }

  &--bullseye {
    @include sprite($bullseye);
  }

  &--arrow-down {
    @include sprite($arrow-down);
  }

  &--arrow-up {
    @include sprite($arrow-up);
  }

  &--speech {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include sprite($speech);
  }

  &--picture-white {
    @include sprite($picture-white);
  }

  &--view {
    @include sprite($view);
  }

  &--speech-2 {
    @include sprite($speech-2);
  }

}