.main-header {
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url("../img/bg-header.jpg");
  background-size: cover;
  color: $light-font-color;
  min-height: 1000px;
  text-align: center;
  position: relative;

  &__inner {
    @include container;
  }

  &__top-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 150px;
  }

  &__logo {
    padding-top: 25px;
    font-family: $primary-font-family;
    font-size: 30px;
    font-weight: 700;
    flex: 0 0 auto;
  }

  &__main-nav {
    padding-top: 35px;
    flex: 1 0 auto;
  }

  &__title {
    text-align: center;
    position: relative;
    margin: 130px 0;

    &:after {
      position: absolute;
      content: "";
      width: 60px;
      height: 3px;
      bottom: -40px;
      left: 50%;
      transform: translate(-50%,0%);
      background-color: $light-font-color;
    }

  }

  &__button {
    //text-align: center;
    margin-bottom: 154px;
  }

  &__icon {
    display: inline-block;
    margin-top: 35px;
    margin-left: 40px;
  }



  /* Medium screens */
  @media all and (max-width: 800px) {
    .main-header__row {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-between;
    }
  }

  /* Small screens */
  @media all and (max-width: 500px) {
    .main-header__row {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

}