.navigation {
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  &__item {
    flex: 0 1 auto;
    text-align: center;
    margin-bottom: 20px;
  }

  &__link {
    text-decoration: none;
    font-family: $primary-font-family;
    font-size: 14px;
    font-weight: 400;
    color: $light-font-color;
    padding: 10px;
    margin-left: 35px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: border $transition-time, color $transition-time;

    &--active {
      border-bottom: 3px solid $second-color;
    }

    &:hover {
      color: $second-color;
      border-bottom: 3px solid $second-color;
    }
  }

  @media all and (max-width: 800px) {

    &__link {
      font-size: 14px;
    }

    flex-flow: row wrap;
  }

  @media all and (max-width: 500px) {

    &__link {
      font-size: 14px;
    }

    flex-direction:column;
  }

}

