/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$alarm-name: 'alarm';
$alarm-x: 95px;
$alarm-y: 32px;
$alarm-offset-x: -95px;
$alarm-offset-y: -32px;
$alarm-width: 32px;
$alarm-height: 31px;
$alarm-total-width: 153px;
$alarm-total-height: 150px;
$alarm-image: '../img/sprite/sprite.png';
$alarm: (95px, 32px, -95px, -32px, 32px, 31px, 153px, 150px, '../img/sprite/sprite.png', 'alarm', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 64px;
$arrow-down-y: 93px;
$arrow-down-offset-x: -64px;
$arrow-down-offset-y: -93px;
$arrow-down-width: 21px;
$arrow-down-height: 12px;
$arrow-down-total-width: 153px;
$arrow-down-total-height: 150px;
$arrow-down-image: '../img/sprite/sprite.png';
$arrow-down: (64px, 93px, -64px, -93px, 21px, 12px, 153px, 150px, '../img/sprite/sprite.png', 'arrow-down', );
$arrow-up-name: 'arrow-up';
$arrow-up-x: 85px;
$arrow-up-y: 93px;
$arrow-up-offset-x: -85px;
$arrow-up-offset-y: -93px;
$arrow-up-width: 21px;
$arrow-up-height: 12px;
$arrow-up-total-width: 153px;
$arrow-up-total-height: 150px;
$arrow-up-image: '../img/sprite/sprite.png';
$arrow-up: (85px, 93px, -85px, -93px, 21px, 12px, 153px, 150px, '../img/sprite/sprite.png', 'arrow-up', );
$book-name: 'book';
$book-x: 63px;
$book-y: 0px;
$book-offset-x: -63px;
$book-offset-y: 0px;
$book-width: 32px;
$book-height: 32px;
$book-total-width: 153px;
$book-total-height: 150px;
$book-image: '../img/sprite/sprite.png';
$book: (63px, 0px, -63px, 0px, 32px, 32px, 153px, 150px, '../img/sprite/sprite.png', 'book', );
$bullseye-name: 'bullseye';
$bullseye-x: 0px;
$bullseye-y: 61px;
$bullseye-offset-x: 0px;
$bullseye-offset-y: -61px;
$bullseye-width: 32px;
$bullseye-height: 32px;
$bullseye-total-width: 153px;
$bullseye-total-height: 150px;
$bullseye-image: '../img/sprite/sprite.png';
$bullseye: (0px, 61px, 0px, -61px, 32px, 32px, 153px, 150px, '../img/sprite/sprite.png', 'bullseye', );
$computer-ok-name: 'computer-ok';
$computer-ok-x: 63px;
$computer-ok-y: 32px;
$computer-ok-offset-x: -63px;
$computer-ok-offset-y: -32px;
$computer-ok-width: 31px;
$computer-ok-height: 28px;
$computer-ok-total-width: 153px;
$computer-ok-total-height: 150px;
$computer-ok-image: '../img/sprite/sprite.png';
$computer-ok: (63px, 32px, -63px, -32px, 31px, 28px, 153px, 150px, '../img/sprite/sprite.png', 'computer-ok', );
$equalizer-name: 'equalizer';
$equalizer-x: 64px;
$equalizer-y: 61px;
$equalizer-offset-x: -64px;
$equalizer-offset-y: -61px;
$equalizer-width: 28px;
$equalizer-height: 32px;
$equalizer-total-width: 153px;
$equalizer-total-height: 150px;
$equalizer-image: '../img/sprite/sprite.png';
$equalizer: (64px, 61px, -64px, -61px, 28px, 32px, 153px, 150px, '../img/sprite/sprite.png', 'equalizer', );
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 124px;
$facebook-offset-x: 0px;
$facebook-offset-y: -124px;
$facebook-width: 12px;
$facebook-height: 26px;
$facebook-total-width: 153px;
$facebook-total-height: 150px;
$facebook-image: '../img/sprite/sprite.png';
$facebook: (0px, 124px, 0px, -124px, 12px, 26px, 153px, 150px, '../img/sprite/sprite.png', 'facebook', );
$home-name: 'home';
$home-x: 0px;
$home-y: 93px;
$home-offset-x: 0px;
$home-offset-y: -93px;
$home-width: 32px;
$home-height: 31px;
$home-total-width: 153px;
$home-total-height: 150px;
$home-image: '../img/sprite/sprite.png';
$home: (0px, 93px, 0px, -93px, 32px, 31px, 153px, 150px, '../img/sprite/sprite.png', 'home', );
$image-name: 'image';
$image-x: 32px;
$image-y: 61px;
$image-offset-x: -32px;
$image-offset-y: -61px;
$image-width: 32px;
$image-height: 32px;
$image-total-width: 153px;
$image-total-height: 150px;
$image-image: '../img/sprite/sprite.png';
$image: (32px, 61px, -32px, -61px, 32px, 32px, 153px, 150px, '../img/sprite/sprite.png', 'image', );
$instagram-name: 'instagram';
$instagram-x: 127px;
$instagram-y: 0px;
$instagram-offset-x: -127px;
$instagram-offset-y: 0px;
$instagram-width: 26px;
$instagram-height: 26px;
$instagram-total-width: 153px;
$instagram-total-height: 150px;
$instagram-image: '../img/sprite/sprite.png';
$instagram: (127px, 0px, -127px, 0px, 26px, 26px, 153px, 150px, '../img/sprite/sprite.png', 'instagram', );
$line-graph-name: 'line-graph';
$line-graph-x: 95px;
$line-graph-y: 0px;
$line-graph-offset-x: -95px;
$line-graph-offset-y: 0px;
$line-graph-width: 32px;
$line-graph-height: 32px;
$line-graph-total-width: 153px;
$line-graph-total-height: 150px;
$line-graph-image: '../img/sprite/sprite.png';
$line-graph: (95px, 0px, -95px, 0px, 32px, 32px, 153px, 150px, '../img/sprite/sprite.png', 'line-graph', );
$magnifining-glass-name: 'magnifining-glass';
$magnifining-glass-x: 127px;
$magnifining-glass-y: 99px;
$magnifining-glass-offset-x: -127px;
$magnifining-glass-offset-y: -99px;
$magnifining-glass-width: 18px;
$magnifining-glass-height: 18px;
$magnifining-glass-total-width: 153px;
$magnifining-glass-total-height: 150px;
$magnifining-glass-image: '../img/sprite/sprite.png';
$magnifining-glass: (127px, 99px, -127px, -99px, 18px, 18px, 153px, 150px, '../img/sprite/sprite.png', 'magnifining-glass', );
$picture-name: 'picture';
$picture-x: 95px;
$picture-y: 63px;
$picture-offset-x: -95px;
$picture-offset-y: -63px;
$picture-width: 30px;
$picture-height: 30px;
$picture-total-width: 153px;
$picture-total-height: 150px;
$picture-image: '../img/sprite/sprite.png';
$picture: (95px, 63px, -95px, -63px, 30px, 30px, 153px, 150px, '../img/sprite/sprite.png', 'picture', );
$pin-name: 'pin';
$pin-x: 127px;
$pin-y: 73px;
$pin-offset-x: -127px;
$pin-offset-y: -73px;
$pin-width: 19px;
$pin-height: 26px;
$pin-total-width: 153px;
$pin-total-height: 150px;
$pin-image: '../img/sprite/sprite.png';
$pin: (127px, 73px, -127px, -73px, 19px, 26px, 153px, 150px, '../img/sprite/sprite.png', 'pin', );
$pinterest-name: 'pinterest';
$pinterest-x: 127px;
$pinterest-y: 47px;
$pinterest-offset-x: -127px;
$pinterest-offset-y: -47px;
$pinterest-width: 20px;
$pinterest-height: 26px;
$pinterest-total-width: 153px;
$pinterest-total-height: 150px;
$pinterest-image: '../img/sprite/sprite.png';
$pinterest: (127px, 47px, -127px, -47px, 20px, 26px, 153px, 150px, '../img/sprite/sprite.png', 'pinterest', );
$shopping-cart-name: 'shopping-cart';
$shopping-cart-x: 12px;
$shopping-cart-y: 124px;
$shopping-cart-offset-x: -12px;
$shopping-cart-offset-y: -124px;
$shopping-cart-width: 18px;
$shopping-cart-height: 14px;
$shopping-cart-total-width: 153px;
$shopping-cart-total-height: 150px;
$shopping-cart-image: '../img/sprite/sprite.png';
$shopping-cart: (12px, 124px, -12px, -124px, 18px, 14px, 153px, 150px, '../img/sprite/sprite.png', 'shopping-cart', );
$speech-name: 'speech';
$speech-x: 0px;
$speech-y: 0px;
$speech-offset-x: 0px;
$speech-offset-y: 0px;
$speech-width: 63px;
$speech-height: 61px;
$speech-total-width: 153px;
$speech-total-height: 150px;
$speech-image: '../img/sprite/sprite.png';
$speech: (0px, 0px, 0px, 0px, 63px, 61px, 153px, 150px, '../img/sprite/sprite.png', 'speech', );
$twitter-name: 'twitter';
$twitter-x: 127px;
$twitter-y: 26px;
$twitter-offset-x: -127px;
$twitter-offset-y: -26px;
$twitter-width: 26px;
$twitter-height: 21px;
$twitter-total-width: 153px;
$twitter-total-height: 150px;
$twitter-image: '../img/sprite/sprite.png';
$twitter: (127px, 26px, -127px, -26px, 26px, 21px, 153px, 150px, '../img/sprite/sprite.png', 'twitter', );
$users-name: 'users';
$users-x: 32px;
$users-y: 93px;
$users-offset-x: -32px;
$users-offset-y: -93px;
$users-width: 32px;
$users-height: 23px;
$users-total-width: 153px;
$users-total-height: 150px;
$users-image: '../img/sprite/sprite.png';
$users: (32px, 93px, -32px, -93px, 32px, 23px, 153px, 150px, '../img/sprite/sprite.png', 'users', );
$spritesheet-width: 153px;
$spritesheet-height: 150px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($alarm, $arrow-down, $arrow-up, $book, $bullseye, $computer-ok, $equalizer, $facebook, $home, $image, $instagram, $line-graph, $magnifining-glass, $picture, $pin, $pinterest, $shopping-cart, $speech, $twitter, $users, );
$spritesheet: (153px, 150px, '../img/sprite/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
