.title {
  font-family: $primary-font-family;
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
  color: $light-font-color;
  line-height: 0.9;
  text-transform: uppercase;
  text-align: center;

  &--big {
    font-size: 150px;
  }

  &--light-color {
    color: $light-font-color;
  }

  &--dark-color {
    color: $font-color;
  }

  @media all and (max-width: 800px) {
    font-size: 25px;
  }

  @media all and (max-width: 500px) {
    font-size: 20px;
  }
}

