$background-color: #fff;


$primary-color: #f38181;
$second-color: #fce38a;
$third-color: #eaffd0;
$forth-color: #95e1d3;


$font-color: #333333;
$second-font-color: #dddddd;
$light-font-color: #ffffff;

$primary-font-family: "Montserrat", sans-serif;
$second-font-family: "Kaushan Script", cursive;
$third-font-family: "Roboto", sans-serif;