// Normally mainpage styles

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $font-color;
  min-width: 320px;
  min-height: 100vh;
  font-family: #{$primary-font-family};
  font-weight: 400;
}


.clearfix::before, .clearfix::after {
  display: table;
  content: "";
}

.clearfix::after {
  clear: both;
}