$background-color: #fff;


$primary-color: #f38181;
$second-color: #fce38a;
$third-color: #eaffd0;
$forth-color: #95e1d3;


$font-color: #333333;
$second-font-color: #dddddd;
$third-font-color: #999999;
$light-font-color: #ffffff;

$primary-font-family: "Montserrat", sans-serif;
$second-font-family: "Kaushan Script", cursive;
$third-font-family: "Roboto", sans-serif;


// Базовая типографика (<=479: 1 rem = 8px, >=480: 1rem = 10px)
// Для лёгкого пересчёта: http://pxtoem.com/

$line-height:                 1.375em;



$grid-gutter-width: 50px;


// Формы, кнопки

$field-padding-top:           1.0em;
$field-padding-bottom:        0.75em;
$field-padding-horizontal:    0.438em;

// Разное

$border-radius:               .3rem;       // универсальный радиус сглаживание углов
$opacity:                     .7;          // универсальная прозрачность
$transition-time:             .3s;         // универсально время транзишнов
